accelerate
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
backoff
bcrypt
beautifulsoup4
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
cryptography
dataclasses-json
Deprecated
dirtyjson
distro
Django
django-cors-headers
djangorestframework
dnspython
email_validator
fastapi
fastapi-cli
filelock
flatbuffers
frozenlist
fsspec
google-auth
googleapis-common-protos
greenlet
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
Jinja2
joblib
kubernetes
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-jinaai
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-huggingface
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-chroma
llama-index-vector-stores-qdrant
llama-parse
llamaindex-py-client
markdown-it-py
MarkupSafe
marshmallow
mdurl
minijinja
mmh3
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
pandas
pdfdata
pdfminer.six
pillow
portalocker
posthog
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
PyMuPDF
PyMuPDFb
pypdf
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
qdrant-client
regex
requests
requests-oauthlib
rich
rsa
safetensors
shellingham
six
sniffio
soupsieve
SQLAlchemy
sqlparse
starlette
streamlit
striprtf
sympy
tenacity
text-generation
tiktoken
tokenizers
torch
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
ujson
urllib3
uvicorn
watchfiles
websocket-client
websockets
wrapt
yarl
zipp
gunicorn
# psycopg2
psycopg2-binary
dj-database-url
python-decouple